body {
  font-family: Arial, sans-serif;
  background-color: #ffc107;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.todo-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.todo-list {
  list-style: none;
  padding: 0;
}
.todo-list li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
.todo-list li.checked {
  text-decoration: line-through;
}
.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: white;
  cursor: pointer;
}
.success-message {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.todo-text {
  margin-left: 10px;
}

.edit-icon,
.delete-icon {
  margin-left: 10px;
  cursor: pointer;
}

.checked .todo-text {
  text-decoration: line-through;
}
